<html>
	<head>
		<meta charset="UTF-8">
		<title>底部链接</title>
		<style>
		.alt {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			justify-content: flex-start;
			align-items: flex-start;
		}
		</style>
    </head>
	<body>
		<div class="footer">
			<div class="alt">
				<div class="foot">
					<p>Official Websites</p>
					<a href="https://cevio.jp/">CeVIO Homepage</a>
					<a href="https://cevio.jp/guide/cevio_ai/">CeVIO AI User Guide</a>
					<a href="https://twitter.com/CeVIO_st">CeVIO on X (Twitter) </a>
					<a href="https://voisona.com/">VoiSona Official Website</a>
					<a href="https://www.techno-speech.com/">Techno-Speech, Inc. Website</a>
				</div>
				<div class="foot">
					<p>External Links</p>
					<a href="https://w.atwiki.jp/ceviouser/pages/39.html">CeVIO User Mutual Aid Association Wiki</a>
					<a href="https://www.vsqx.top/">vsqx Sharing Platform</a>
					<a href="https://sdercolin.github.io/utaformatix3/">UtaFormatix</a>
					<a href="https://wikiwiki.jp/voirosozai/">VOICEROID Resource Collection Wiki*</a>
					<a href="https://guanyujie.gitee.io/yukarifans/">YukariFans - VOICEROID Resource Sharing</a>
				</div>
			</div>
		</div>
	</body>
</html>